.App {
  align-items: flex-start;
  border-radius: 5px;
  display: flex;
  height: 50%;
  justify-content: center;
  width: 95%;
  gap: 100px;
  padding-left: 40px;
  padding-top: 80px;
}

.todoList-title {
  font-size: 70px;
  text-align: center;
  padding: 40px 0px 0px 0px;
  margin: 0px;
}

.todoList-subtitle {
  font-size: 30px;
  text-align: center;
  padding: 0px;
  margin: 0px;
  color: grey;
}
